@import "tailwindcss";

:root {
  --background: #000111;
  --foreground: #000111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 9999px;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 9999px;
  background: #FF6600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: slide 20s linear infinite; 
}

.carousel-slide {
  flex: 0 0 auto; 
  margin-right: 2rem;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Syne", sans-serif;
}
